.x-panel-header
	background: #23272a
	border: 0

.x-panel-body-default
	background: #2c2f33
	color: #fff
	font-size: 13px
	font-weight: 300
	font-family: 'helvetica', 'arial', 'verdana', 'sans-serif'
	border-color: #fff
	border-style: solid
	border-width: 0