.x-toolbar-default
	background-color: #2c2f33
	border-width: 0

.x-toolbar
	background: #2c2f33

.x-toolbar-vertical-scroller
	background: #2c2f33!important

.x-toolbar-default-vertical-scroller
	background: #2c2f33!important

.x-toolbar-text.x-box-item.x-toolbar-item.x-toolbar-text-default
	color: #fff