.proxmox-invalid-row
	background-color: #401314

.usage
	background-color: $blurple

.usage-wrapper
	border: 1px solid $blurple

.x-tool-img
	background-image: url('/images/dd_tool-sprites.png') !important

.x-layout-split-bottom
	background-image: url('/images/dd_mini-bottom.png') !important

.pmx-hint
	color: $yellow
	background-color: transparent